[user]
	name = David Asensio Cañas
	email = david.asensio@icloud.com
	signingkey = 8A6D5A2F5689AE7C4050BC9DFDC0984B5C676D73
[alias]
	st = status
	lg = log --graph --decorate --date-order --oneline
	c = commit
	ck = checkout
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg]
	program = gpg

# Conditional configurations
[includeIf "gitdir:~/projects/lifull/"]
	path = ~/projects/lifull/.gitconfig
[core]
	editor = vi
